<% provide(:title, 'All Users') %>
<h1>ユーザー一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :名前 %></th>
      </tr>
    </thead>

    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %>
         <% if current_user.admin? && !current_user?(user) %>
          <a class="btn btn-login btn-small" href="#" style="margin-left: 10px; margin-top: 0px; font-weight: inherit;">一般</a>
          <% else %>
           <a class="btn btn-login btn-small" href="#" style="
    margin-left: 10px;
    margin-top: 0px;
    background-color: #0079cc;
    font-weight: inherit;
">管理者</a>
         <% end %> 
        </td>
        <td>
          <% if current_user.admin? && !current_user?(user) %>
            <%= link_to "削除", user, method: :delete,
                data: { confirm: "削除してよろしいですか？" },
                class: "btn btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
   </table>
  <%= will_paginate %>
</div>