<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Task App", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "トップ", root_path, id: "header-list" %></li>
        <% if logged_in? %> 
          <% if current_user.admin? %>
          <li><%= link_to "利用者一覧", '#' %></li>
          <% end %>
　　　　　<li><%= link_to "タスク作成", posts_new_path %></li>        
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= @current_user.name %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="no1"><%= link_to "ユーザー", '#' %></li>
              <li><%= link_to "プロフィール", current_user %></li>
              <li><%= link_to "設定", '#' %></li>
              <li class="no1"><%= link_to "タスク", '#' %></li>
              <li><%= link_to "タスク一覧",  posts_index_path %></li>
              <li class="divider"></li>
              <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
            </ul>
           </li>
       
        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %> 
      </ul>
    </nav>
  </div>
</header>
